#page-container {
	flex: 1;
	padding: 0 2em;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 1200px) {
	#page-container {
		padding: 0 4em;
		max-width: 84em;
	}
}
