.banner {
	text-align: center;

	h1, h2 {
		font-family: "Roboto";
		font-weight: 400;
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.4em;
	}

	div {
		margin-top: 1.6em;
	}

	p {
		line-height: 1.6em;
		opacity: 0.75;
	}
}

@media screen and (min-width: 768px) {
	.banner h1 {
		font-size: 4em;
	}

	.banner h2 {
		font-size: 2em;
	}
}
